<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Tally</title>
    <link rel="stylesheet" href="stylesheets/tally.css" type="text/css"/>
    <script language="javascript" src="javascripts/json2.js" type="text/javascript"></script>
    <script language="javascript" src="javascripts/jquery-1.7.2.js" type="text/javascript"></script>
    <script language="javascript" src="javascripts/underscore.js" type="text/javascript"></script>
    <script language="javascript" src="javascripts/backbone.js" type="text/javascript"></script>
    <script language="javascript" src="javascripts/backbone-localstorage.js" type="text/javascript"></script>
  </head>

  <body>
    <div id='tallyapp'>

      <div class='title'>
        <h1>Tally</h1>
      </div>

      <div class='content'>
        <div id='create-tally'>
          <input id='new-tally' placeholder='What do you want to count?' type='text' />
          <div class='desc'>Press Enter to create an object</div>
        </div>
        <div id='tallys'>
          <table id='tally-list'>
			<tr>
				<th class="title">Title</th>
				<th class="counter">Count</th>
		    </tr>
		  </table>
        </div>
      </div>

    </div>
    <script language="javascript" src="javascripts/tally.js" type="text/javascript"></script>

    <!-- Templates -->

    <script type="text/template" id="item-template">
      <td class="title">
		<div class="view"><label><%= title %></label>
		<a class="destroy"></a></div>		
		<input class="edit" type="text" value="<%= title %>" />
	  </td>
      <td class="counter"><%= count %> <span class="crement inc">+</span> <span class="crement dec">-</span></td>
    </script>
  </body>
</html>
